<div id="<%= dom_id report %>">
  <p>
    <strong><%= Report.human_attribute_name(:title) %>:</strong>
    <%= report.title %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:content) %>:</strong>
    <%= format_content report.content %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:user) %>:</strong>
    <%= link_to report.user.name_or_email, report.user %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:created_on) %>:</strong>
    <%= l report.created_on %>
  </p>

  <p>
    <strong>引用されているよ:</strong>
    <% report.mentioned_reports.pluck(:id).each do |mention_id| %>
    <%= link_to Report.find(mention_id).title, Report.find(mention_id) %>
    <% end %>
  </p>


</div>
